@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
	border-radius: 5px;
}
.client, .clients {
	border: 2px solid #a32424;
}
.message, .tosend, .alert {
	border: 2px solid #73B1B7;
	
	color: rgb(27, 58, 27);
	background-color: bisque;
}